body{
	text-align: center;
	background-color: #1DA1F2;
	background-repeat: no-repeat;
	background-size: 100%;

}

#text{
	margin-top: 5%;
	border-radius: 10px;
	
}

#button{
	border-radius: 5px;
	background: #2E2E2E;
	font-size: 16px;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 32%;
}
.gris{
	background-color: #E5E5E5;
	width: 55%;
	margin: 10% 23% 2%;
	border-radius: 15px;
}