body{
	text-align: center;
	background-image: url(iron.jpg);
	background-repeat: no-repeat;
	background-size: 100%;

}

#textArea{
	margin-top: 20%;
	border-radius: 10px;
	
}

#button{
	border:1px solid #CED5D7;
	border-radius: 5px;
	background: #cfe6ef;

}